* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .full-height {
  height: 100%;
  margin: auto;
}

.row {
	/*border: 5px solid red;*/
	display: flex;
	flex: 1;
	flex-direction: row;
}

.col {
	/*border: 5px solid green;*/
	display: flex;
	flex: 1;
	flex-direction: column;
}

.double {
	flex: 2;
}

.triple {
	flex: 3;
}

.quad {
	flex: 4;
}

.quinte {
	flex: 4;
}

.rond{
	margin: auto;
	width: 100px; 
	height: 100px; 
	border: 1px solid black; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

.carre{
	margin: auto;
	width: 90px; 
	height: 90px; 
	border: 1px solid black;
}

.losange{
	margin: auto;
	width: 0; height: 0; border: 50px solid transparent; border-bottom-color: red; position: relative; top: -50px;
}

.losange:after{
	content: ''; position: absolute; left: -50px; top: 50px; width: 0; height: 0; border: 50px solid transparent; border-top-color: red;
}

.empty{
	background-color: white;
}

.full{
	background-color: red;
}